<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>更新信息</title>
    <load href="__PUBLIC__/js/jquery-1.7.2.min.js"/>
    <script>
        $(function () {
            $('input[title="backButton"]').click(function() {
                window.location='__APP__/Index/index';
            });
        });
    </script>
</head>
<body>
    <form action="/ballDate/home.php/User/update" method="post">
        <div><input type="hidden" name="id" value="<{$data.id}>"/></div>
        <div>用户名: <input type="text" name="username" value="<{$data.username}>"/><br/></div>
        <div>姓名<input type="text" name="name" value="<{$data.name}>"/></div>
        <div>性别 (男): <input type="radio" name="sex" value="1"/>
            (女): <input type="radio" name="sex" value="0"/>
        </div>
        <div>密码：<input type="text" name="password" value="<{$data.password}>"/></div>
        <div>用户号：<input type="text" name="work_num" value="<{$data.user_num}>"/></div>

        <div>
            <input type="submit" value="OK!"/>
            <input title="backButton" type="button" name="back" value="退出"/>
        </div>
    </form>
</body>
</html>