<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>球赛管理</title>
    <script>
        function jump() {
            window.location = '__URL__/add';
        }

    </script>
</head>
<body>
<table border="1" width="500" align="center">
    <tr>
        <th>球赛</th>
        <th>人数</th>
        <th>场地</th>
        <th>操作</th>
    </tr>
    <volist name="data" id="vo">
        <tr>

            <td><{$vo.name}></td>
            <td><{$vo.size}></td>
            <td><{$vo.location}></td>
            <td>
                <a href="/ballDate/home.php/Game/del/id/<{$vo.id}>">取消此场球</a>
                |
                <a href="/ballDate/home.php/Game/modify/id/<{$vo.id}>">编辑此场球</a>
            </td>
        </tr>
    </volist>
</table>
<center>
    <button onclick="jump()">新一场球</button>
</center>
<a href="/ballDate/home.php/">返回后台首页</a>
</body>
</html>