<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

</head>

<body style="width:50%; margin:0 auto;">
<div align="center">
    <h2>用户系统</h2>
    <hr/>
    <p>
        欢迎你<{$Think.session.username}><br/><br/>
        <a href="__APP__/Login/tryLogout">退出</a>
    </p>

    <div>
        <div style="border: 1px solid silver; width:150px;">
            <foreach name="picture" item="pic">
                    <img src="__ROOT__/Public/Uploads/<{$pic.filename}>" style="height:150px; width:150px;"/><br/>
            </foreach>
            <a href="/project1/home.php/Picture/add_/id/<{$vo.id}>">更新头像</a>
        </div>

    </div>
    <hr/>
    <foreach name="list" item="vo">
        <h3>您的信息：</h3>
        <p>用户名：<{$vo.username}></p>
        <p>姓名：<{$vo.name}></p>
        <p>用户号：<{$vo.work_num}></p>


    <hr/>
    <h3>您的操作：</h3>

    <a href="/ballDate/home.php/GameUser/switchGame/id/<{$vo.id}>">来一场球！！！</a>
    |
    <a href="/ballDate/home.php/User/modify/id/<{$vo.id}>">更新信息</a>

    <a href="/ballDate/home.php/User/del/id/<{$vo.id}>">删除账号</a>
    </foreach>
</div>

</body>

<!--
<frameset rows="20%, *">
    <frame src="__URL__/top" name="top"/>
    <frameset cols="50%, 50%">
        <frame src="__URL__/left" name="left"/>
        <frame src="__URL__/right" name="right"/>
    </frameset>
</frameset>
-->

</html>